.highslide{
margin-top:-20px;
}
.highslide-image{
border:0;
}
.highslide-caption{
padding: 28px 5px 10px 5px;
color:#000000;
text-align:left;
border:0;
background-color:#FFFFFF;
}
.description{
width:50%;
position:relative;
float:left;
}
a.highslide{text-decoration:none;}
.highslide_prev{
position:absolute; 
left:5px; 
top:5px;
}
.highslide_next{
position:absolute; 
right:5px; 
top:5px;
}
.highslide-caption a:link, a.highslide-caption a:visited{
text-decoration:none;
color:#000000;
font-weight:bold;
}
.highslide-caption a:hover{
color:#0f0f0;
font-weight:bold;
}
.votes{
position:relative;
float:right;
width:49%;
}
.imgname{
font-weight:bold;
font-size:12px;
}