<style type="text/css" media="screen">
	.xspf_semantic {
		background: red;
	}
		.xspf_semantic_left {
			background: blue;
			width: 200px;
		}
		.xspf_semantic_right {
			background: green;
		}
</style>

<table border="1" class="xspf_semantic">
<tbody>
<tr>
	<td valign="top" class="xspf_semantic_left">
		<span class="xspf_semantic_title">Title of Audio</span>
		<br /><br />
		**Download Button**
	</td>
	<td valign="top" class="xspf_semantic_right">
		<p class="xspf_semantic_description">A really good description of the audio.</p>
		**This is where the player will go**
	</td>
</tr>
</tbody>
</table>

